{{ define "main" }}
  <article class="text-center text-gray-700 dark:text-gray-200">
    <div class="flex flex-col h-screen -mt-4 sm:-mt-16">
      <div class="m-auto">
        {{ with .Site.Params.titleimage }}
          {{ $image := resources.Get . }}
          <img
            src="{{ ($image.Fit "800x800 webp").RelPermalink }}"
            width="200"
            height="200"
            alt=""
            class="mx-auto mb-2 rounded-full h-48 w-48 object-cover border border-gray-200"
          />
        {{ end }}
        <h1 class="font-light text-5xl text-gray-500 dark:text-gray-200">
          {{ .Title }}
        </h1>
        {{ .Content }}
        <div
          class="w-48 m-auto my-4 border-accent-400 border-2 rounded-sm"
        ></div>
        <div class="flex justify-center space-x-4">
          {{ range .Site.Menus.social }}
            <a
              rel="noreferrer noopener"
              href="{{ .URL }}"
              title="{{ .Name }}"
              target="_blank"
              class="text-gray-700 dark:text-gray-200 hover:text-accent-400 transition-colors duration-200"
            >
              {{ $logoName := printf "%s%s" "logo-" (lower .Name) }}
              {{ partial "icons/ionicons" (dict "logoname" $logoName "size" 10) }}
            </a>
          {{ end }}
        </div>
      </div>
    </div>
  </article>
{{ end }}
